[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "*"
dash-renderer = "*"
dash-html-components = "*"
dash-core-components = "*"
plotly = "*"
pandas = "*"
zappa = "*"
dash-table = "*"

[requires]
python_version = "3.6"
