
# Local Netlify folder
*.swp
*~
.ipynb_checkpoints
.jekyll-cache
.jekyll-metadata
.netlify
.sass-cache
.tweet-cache
__pycache__
_notebooks/.ipynb_checkpoints
_posts/2020-10-10-analysis-of-moving-average-filter.md
_posts/2020-10-21-accessing-file-with-unified-pythonic-api.md
_posts/2020-11-08-read-umeyama-1991-paper.md
_posts/2020-11-15-rust-on-nodebook-with-evcxr-jupyter.md
_posts/2020-12-13-introduction-to-typenum.md
_posts/2021-05-30-gaussian-mixture-model-with-softmax.md
_posts/2021-06-06-accessing-file-wiht-unified-pythonic-api2.md
_posts/2021-08-01-writing-simple-ping-example.md
_posts/2021-09-30-simple-guided-filter-rs.md
_site
_cache
~*
