[submodule "sandbox/array_api_practice/array-api"]
	path = sandbox/array_api_practice/array-api
	url = git@github.com:data-apis/array-api.git
[submodule "sandbox/py_opt_book_practice/PyOptBook"]
	path = sandbox/py_opt_book_practice/PyOptBook
	url = https://github.com/ohmsha/PyOptBook.git
[submodule "sandbox/zig_blur/zigimg"]
	path = sandbox/zig_blur/zigimg
	url = git@github.com:zigimg/zigimg.git
[submodule "sandbox/typescript_cv_practice/external/cad-image"]
	path = sandbox/typescript_cv_practice/external/cad-image
	url = git@github.com:pangjunbiao/cad-image.git
[submodule "sandbox/tinygrad_practice/tinygrad"]
	path = sandbox/tinygrad_practice/tinygrad
	url = https://github.com/tinygrad/tinygrad.git
[submodule "sandbox/tinygrad_svm_practice/tinygrad"]
	path = sandbox/tinygrad_svm_practice/tinygrad
	url = https://github.com/tinygrad/tinygrad.git
