# Local Netlify folder
*.swp
*~
.ipynb_checkpoints
__pycache__

/.quarto/

/_*.local

_environment.local

.devcontainer
/_site/
/posts/.jupyter_cache
.jupyter_cache

CLAUDE.*
claude.*
**/*.quarto_ipynb
.claude
