/* css styles */
.lang-section h3 {
    font-weight: bolder;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* derived from https://github.com/lepture/github-cards */
.github-card {
    min-width: 442px;
    max-width: 442px;
    margin: 8px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;

    border: 1px solid #eee;
    border-radius: 5px;
    border-color: #eee #ddd #bbb;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 3px;

    border-radius: 5px;
    padding: 8px 8px 0;
    background: #fff;
    color: #555;
    position: relative;
}

.github-card a {
    text-decoration: none;
    color: #4183c4;
    outline: 0;
}

.github-card a:hover {
    text-decoration: underline;
}

.github-card .header {
    position: relative;
}

/* repo card */
.repo-card .header {
    padding: 3px 0 4px 8px;
}

.repo-card .header a {
    color: #707070;
}

.repo-card .header strong {
    display: block;
    font-size: 18px;
    line-height: 1.4;
}

.repo-card .header strong a {
    color: #292f33;
}

.repo-card .header sup {
    font-size: 10px;
    margin-left: 3px;
    color: #797979;
}

.repo-card .content {
    min-height: 72px;
    max-height: 72px;
    padding: 3px 0 4px 8px;
}

.repo-card .content p {
    margin: 0 5px 0 0;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    clear: both;
    word-wrap: break-word;
}

.repo-card .footer {
    border-top: 1px solid #eee;
    padding: 8px 0 6px 8px;
}

.repo-card .status {
    font-size: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.repo-card .status strong {
    font-size: 12px;
    padding-right: 5px;
}